@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: white;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::selection {
  color: white;
  background: gray;
}




/* Hero circular spin */
.circle-text{
  -webkit-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#hero-img-mine{
  opacity: 0.9;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px 5px rgba(147, 147, 150, 0.148);

}

@media screen and (max-width: 768px) {
  #hero-img-mine{
    height: 321px;
    width: 330px;
  }
  
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #hero-img-mine{
    height: 350px;
    width: 500px;
    margin-left: 3rem;
  }
  
}
@media screen and (min-width: 1024) {
  #hero-img-mine{
    height: 350px;
    width: 400px;
    margin-left: 3rem;
  }
  
}